body
{
text-align: center;
}
#video
{
    width: 100%;
    height: 500px;
}
computerlab_maindiv
{
    border: 5px lightblue;
}
library_maindiv
{
    width: 100%;
}
auditorium_maindiv
{
    margin: 20px;
}